# Archivos de estado
*.tfstate
*.tfstate.backup

# Directorios generados por Terraform
.terraform/
modules/.build/

# Archivos de secretos (ejemplos)
*.tfvars.private
secrets.yaml
*.tfvars

api/design/node_modules
api/design/dist

claim/node_modules
claim/.env
claim/.build
claim/.build-lambda
