# Archivos de estado
*.tfstate
*.tfstate.backup

# Directorios generados por Terraform
.terraform/
modules/.build/

# Archivos de secretos (ejemplos)
*.tfvars.private
secrets.yaml
*.tfvars
credentials.tfrc.json

claim/node_modules
api/design/node_modules

deploys_front/